# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/
Lab2 - Structure from Motion.pdf
cmake-build-debug/
datasets/
sfm/.gitignore
sfm/data.txt	
sfm/data1.txt
sfm/data2.txt
sfm/data3.txt
sfm/data.txt
sfm/x.ply
sfm/out_data2.txt
